<div class="wrapper">

    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/portada.webp'); background-color: rgba(0, 0, 0, 0.5); background-blend-mode: multiply;">
        <div class="filter"></div>
        <div class="content-center brand">
            <h2 class="h1-seo">GRUPOS DE TRABAJO</h2>
        </div>
    </div>
    <div class="main">
        <div class="container mt-4">
            <br>
            <table class="table table-striped table-bordered" id="dataTable">
                <thead class="thead-dark">
                <tr>
                    <th> Nombre </th>
                    <th> Información </th>
                </tr>
                </thead>
                <tbody id="dataBody">
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>

