<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/portada.webp'); background-color: rgba(0, 0, 0, 0.5); background-blend-mode: multiply;">
        <div class="filter"></div>
        <div class="content-center brand">
            <h2 class="h1-seo">Jornada de Seguridad y Bienestar UPS 2025</h2>
        </div>
    </div>
    <div class="container_cro">
        <h4 style="color: black">UNISSMA - Bienestar Universitario - Departamento Médico</h4>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Miércoles, 12 de Marzo</a>
            </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Protocolo
                                actualizado de la Universidad
                                para brindar atención inmediata ante
                                situaciones de emergencias, rutas de
                                traslado, estación de primeros auxilios</h6>
                            <p>Teatro Carlos Crespi</p>
                            <p>UNISSMA</p>
                            <small class="text-muted">15H00 - 15H30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Información sobre brigadistas y protocolo de comunicación
                                ante una emergencia </h6>
                            <p>Teatro Carlos Crespi</p>
                            <p>UNISSMA</p>
                            <small class="text-muted">15H30 - 15H45</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Seguro
                                estudiantil en caso de presenciar un
                                accidente de estudiantes</h6>
                            <p>Teatro Carlos Crespi</p>
                            <p>Bienestar Universitario</p>
                            <small class="text-muted">15h45 - 16h00</small><br><br>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Traslado a espacios
                                asignados</h6>
                            <p>Aulas del Edificio Guillermo Mensi</p>
                            <p>Departamento Médico - UNISSMA - Brigadistas</p>
                            <small class="text-muted">16h00 - 16h15</small><br><br>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Taller práctico de primeros auxilios</h6>
                            <p>Aulas del Edificio Guillermo Mensi</p>
                            <p>Departamento Médico - UNISSMA - Brigadistas</p>
                            <small class="text-muted">16h15 - 17h45</small><br><br>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Conclusiones y registro de asistencia</h6>
                            <p>Aulas del Edificio Guillermo Mensi</p>
                            <p>Departamento Médico - UNISSMA - Brigadistas</p>
                            <small class="text-muted">17h45 - 18h00</small><br><br>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6> 18h00 - FIN DE LA JORNADA</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>


