<div class="wrapper">
    <div class="container_tar">
         <div class="card">
            <a [routerLink]="['/lala']">
                <img src="assets/img/lala.webp" alt="Consejería Académica LALA" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Consejería Académica LALA</h3>
                    <br>
                    <h5 class="card-header">5 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">14h00 a 18h00</h6>

                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/investigation']">
                <img src="assets/img/investigacion.webp" alt="Investigación" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Investigación</h3>
                    <br>
                    <h5 class="card-header">6 y 7 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">Todo el día</h6>
                    <h6 class="card-footer" style="color: #001f4d; font-weight: bold;">*Obligatorio traer computador</h6>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/teacher_training']">
                <img src="assets/img/formacion.webp" alt="Formación Docente" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Formación Docente</h3>
                    <br>
                    <h5 class="card-header">10 y 11 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">Todo el día</h6>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/unadedvi']">
                <img src="assets/img/linea.webp" alt="UNADEDVI" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">UNADEDVI</h3>
                    <br>
                    <h5 class="card-header">12 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">09h00 a 12h30</h6>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/unissma']">
                <img src="assets/img/seguridad.webp" alt="UNISSMA" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">UNISSMA</h3>
                    <br>
                    <h5 class="card-header">12 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">15h00 a 18h00</h6>

                </div>
            </a>
        </div>
        <div class="card">
            <a [routerLink]="['/acreditation']">
                <img src="assets/img/acreditacion.webp" alt="Acreditación Internacional" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Acreditación Internacional</h3>
                    <br>
                    <h5 class="card-header">13 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">08h00 a 12h00</h6>
                    <h6 class="card-footer" style="color: #001f4d; font-weight: bold;">*Obligatorio traer computador</h6>
                </div>
            </a>
        </div>
        <div class="card">
            <a [routerLink]="['/education-gth']">
                <img src="assets/img/gth.webp" alt="GTH" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Gestión del Talento Humano - Educación Continua</h3>
                    <br>
                    <h5 class="card-header">13 de marzo</h5>
                    <h6 class="card-footer" style="color: #001f4d">14h00 a 17h00</h6>
                </div>
            </a>
        </div>
        <div class="card">
            <a [routerLink]="['/groups']">
                <img src="assets/img/docentes.webp" alt="Grupos de Trabajo" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Grupos de Trabajo</h3>
                    <br>
                    <h5 class="card-header">Ver Información</h5>
                </div>
            </a>
        </div>
    </div>
</div>
