<div class="wrapper">
    <div class="page-header-small" style="height: 600px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
        url('assets/img/portada.webp') center/cover no-repeat;">
        <div class="content-center">
            <div class="container">
                <div class="content-center brand text-center">
                    <!-- Logo -->
                    <div class="img-container">
                        <img src="assets/img/logoupsblanco.png" alt="Logo UPS" class="logo-img">
                    </div>
                    <h2 class="h1-seo">JORNADAS DE FORMACIÓN DOCENTE</h2>
                    <h3 class="h3-seo">Periodo 2025 - 2025</h3><br>
                    <br>
                </div>
                <br><br>
                <h6>Coordinación de Desarrollo Académico - Cuenca</h6>
            </div>
        </div>

    </div>
    <div class="main">
        <app-signup></app-signup>
    </div>
</div>

