<footer class="footer section-dark py-4">
    <div class="container">
        <div class="row text-center text-md-left">
            <!-- Información de la Universidad -->
            <div class="row-cols-md-auto">
                <h5 class="text-uppercase">Universidad Politécnica Salesiana</h5>
                <p class="mb-2">&copy; 2025 - Sede Cuenca</p>
                <p class="small">
                    <strong style="height: 3em">Coordinación de Desarrollo Académico</strong><br>
                    <strong>Dirección:</strong> Edificio Juan Bottasso - Tercer Piso <br>
                    <strong>Ext:</strong> 1373 - 1413 - 1263 <br>
                    <strong>Email:</strong>
                    <a href="mailto:coordinacionacademicacue@ups.edu.ec" class="text-white">
                        coordinacionacademicacue@ups.edu.ec
                    </a>
                </p>
                <h5 class="text-uppercase">Síguenos en</h5>
                <ul class="list-inline mb-0">
                    <!-- Sitio Web -->
                    <li class="list-inline-item">
                        <a href="https://www.ups.edu.ec/" target="_blank" title="Sitio Web Oficial" aria-label="Sitio Web Oficial">
                            <i class="fas fa-globe"></i>
                        </a>
                    </li>
                    <!-- Facebook -->
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/UPSalesianaEc" target="_blank" title="Facebook" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://x.com/upsalesianaec" target="_blank" title="Twitter" aria-label="Twitter">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                    </li>
                    <!-- LinkedIn -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/school/universidad-politecnica-salesiana/" target="_blank" title="LinkedIn" aria-label="LinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <!-- Instagram -->
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/upsalesianaec/" target="_blank" title="Instagram" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
